body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:98px;
  width:271px;
  height:18px;
  color:#CCCCCC;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:78px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:135px;
  width:312px;
  height:78px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:47px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:235px;
  width:301px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:297px;
  word-wrap:break-word;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:314px;
  width:116px;
  height:18px;
  color:#CCCCCC;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:199px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:357px;
  width:199px;
  height:199px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:47px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:587px;
  width:301px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:297px;
  word-wrap:break-word;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:2px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:249px;
  width:65px;
  height:1px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:235px;
  width:350px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:330px;
  word-wrap:break-word;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:2px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:610px;
  width:65px;
  height:1px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:596px;
  width:350px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:330px;
  word-wrap:break-word;
}
